
<div class="text-center" ng-controller="IndexCtrl">
    <h1 class="display-4">
        @ViewBag.SayfaAdi
    </h1>
    <h1>{{PersonelAdi}}</h1>
    <button ng-click="KategoriGetir()" class="btn btn-primary">Kategori Getir</button>
@*    <ul ng-show="IsVisible">
        <li ng-repeat="category in CategoryList">{{category.Name}}</li>
    </ul>*@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

@section AngularScripts {
    <script src="/content/angularjs/home/indexctrl.js"></script>
}