<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlBaglantiDev" connectionString="Server=DESKTOP-FH3V2M3\\SQLEXPRESS;Initial Catalog=StokTakip;Integrated Security=True;TrustServerCertificate=True"/>
		<add name="SqlBaglantiTest" connectionString="Server=TEST\\SQLEXPRESS;Initial Catalog=StokTakip;Integrated Security=True;TrustServerCertificate=True"/>
		<add name="SqlBaglantiProd" connectionString="Server=PROD\\SQLEXPRESS;Initial Catalog=StokTakip;Integrated Security=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>