<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="baglanti" connectionString="Data Source=DESKTOP-FH3V2M3\SQLEXPRESS;Initial Catalog=Okul;Integrated Security=False;User Id=sa;Password=1234;"/>
		<add name="MsSqlConnection" connectionString="Data Source=DESKTOP-FH3V2M3\SQLEXPRESS;Initial Catalog=Okul;Integrated Security=True;"/>

	</connectionStrings>
</configuration>